In [1]:
import pandas as pd

In [7]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

1.FInd out how many male and female passenger onboarded
2.How many people survived?
3.How many casualities we have?
4.What is the name of the person who is the eldest one?
5.How many passengers do we have in first second and third class.
6.How many persons do we have whose name starts with S
7.Try to create a new column which is summation of SIbip and Parch
8How many person do we have below the age 25
9.How many persons died  beloe the age of 40?
10.From a cabin column separate text and numerical value.

In [13]:
#Q1-
print("NO of male passengers:",len(df[df["Sex"]=="male"]))
print("NO of female passengers:",len(df)-len(df[df["Sex"]=="male"]))

NO of male passengers: 577
NO of female passengers: 314

In [26]:
#Q2 & Q3-
print("NO of people who survived:",len(df[df["Survived"]==1]))
print("No of casualities we have:",len(df[df["Survived"]==0]))

NO of people who survived: 342
No of casualities we have: 549

In [35]:
#Q4-
print("Eldest person on board is:", df[df["Age"]==max(df["Age"])]["Name"][630])

Eldest person on board is: Barkworth, Mr. Algernon Henry Wilson

In [42]:
#Q5)-
print("NO of casualities in 2nd class:",len(df[df["Pclass"]==2]))
print("NO of casualities in 3rd class:",len(df[df["Pclass"]==3]))

NO of casualities in 2nd class: 184
NO of casualities in 3rd class: 491

In [57]:
#Q6-
print("NO of persons whose name starts with '{}':".format("S"),len(df.loc[[i for i in df.index if df["Name"][i][0]=="S"]]))

NO of persons whose name starts with 'S': 86

In [61]:
#Q7-
df["Newcol"]=df["SibSp"]*df["Parch"]

In [65]:
#Q8-
print("NO of people below the age of 25:",len(df[df["Age"]<25]))

NO of people below the age of 25: 278

In [69]:
#Q9)-
print("No of people who died below the age of 40:",len(df[df.Age<40]))

No of people who died below the age of 40: 551

In [97]:
#Q10-
def f(x):
    l1=""
    count=0
    for i in x:
        if str(i).isnumeric():
            l1=l1+i
            count=count+1
    if count==0:
        return x
    else:
        return int(l1)
def f1(x):
    l1=""
    count=0
    for i in x:
        if str(i).isnumeric():
            l1=l1+i
            count=count+1
    if count==0:
        return x
    else:
        return l1
def f3(x):
    x1=""
    for i in x:
        if str(i).isdigit():
            x1=x1+i
        else:
            pass
    return x1
f3("C1234X")  #heres what above defined functions do to arguments
f("C1234D")
f1("C123vvdksaa23") 
f1("nan")

'nan'

In [85]:
#UNDERSTOOD AS A COLUMN CANT HAVE MULTIPLE DATATYPES IN IT
try:
    df.Cabin=df.Cabin.apply(f)
except Exception as e:
    print(str(e))

'float' object is not iterable

In [87]:
###DOUBT###
try:
    df.Cabin=df.Cabin.apply(f1) #here it showed error on the original dataframe df
except Exception as e:
    print(str(e))
else:
    print("Executed successfully")

'float' object is not iterable

In [91]:
#new data frame df1 created by filtering out all null values from the original dataframe df and f3 function applied on top of Cabin column of df1.
df1=df[df["Cabin"].isnull()==False] #filtering out all the null values in cabin column and storing it in a new dataframe object
df1["Cabin"]=df1["Cabin"].apply(f3) #its done succesffully

C:\Users\UTILIZER\AppData\Local\Temp/ipykernel_15788/3556541240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Cabin"]=df1["Cabin"].apply(f3)

In [94]:
df1
df1.dtypes["Cabin"] #although i coudnt change the data type of column "Cabin" through function f3,which i intended to do with f and f1 on the original

dtype('O')